* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 35px;
  color: #fffb00;
}

.fa-play-circle,
.fa-pause-circle {
  font-size: 40vh;
  color: rgba(255, 251, 0, 0.4);
}

.slides {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #000;
}

.slide {
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
  background-position: center;
  background-size: cover;
}

.slide a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slide.active {
  z-index: 1;
  opacity: 1;
}

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.control-pause, .control-prev, .control-next {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control-pause {
  top: calc(50% - 20vh);
  left: calc(50% - 20vh);
  height: 40vh;
  padding: 0;
  -webkit-transition: opacity .25s ease-out;
  -o-transition: opacity .25s ease-out;
  transition: opacity .25s ease-out;
  opacity: 0;
}

.control-pause:hover, .control-pause:focus {
  -webkit-transition: opacity 1s ease-in .5s;
  -o-transition: opacity 1s ease-in .5s;
  transition: opacity 1s ease-in .5s;
  opacity: 1;
  text-shadow: 0 0 30px rgba(255, 251, 0, 0.3);
}

.control-prev {
  left: 0;
  width: 10%;
}

.control-prev:hover, .control-prev:focus {
  color: #fffb00;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  text-shadow: 0 0 10px #fff;
}

.control-next {
  right: 0;
  width: 10%;
}

.control-next:hover, .control-next:focus {
  color: #fffb00;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  text-shadow: 0 0 10px #fff;
}

.indicators {
  position: absolute;
  z-index: 15;
  right: 0;
  bottom: 10px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-right: 15%;
  margin-bottom: 0;
  margin-left: 15%;
  padding-left: 0;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indicator {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  text-indent: -999px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  background-color: #d11c1c;
  background-clip: padding-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.indicator:hover {
  cursor: pointer;
}

.indicator.active {
  background-color: #fffb00;
}

@media (min-width: 992px) {
  .control-pause, .control-prev, .control-next {
    cursor: pointer;
  }
  .indicator {
    cursor: pointer;
  }
}
